{include file="common/head"/}
 
  <script src="//unpkg.com/jquery@3.3.1/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/static/ueditor/ueditor.config.js"></script>
  <script type="text/javascript" src="/static/ueditor/ueditor.all.js"></script> 
<style>
    .layui-text em, .layui-word-aux{
        color: red !important;
    }
</style>
<style type="text/css">
    .uploader-list .info {
        position: relative;
        background-color: black;
        color: white;
        filter: alpha(Opacity=80);
        -moz-opacity: 0.5;
        opacity: 0.5;
        width: 100px;
        height: 25px;
        text-align: center;
        display: none;
    }

    .uploader-list .handle {
        position: relative;
        background-color: black;
        color: white;
        filter: alpha(Opacity=80);
        -moz-opacity: 0.5;
        opacity: 0.5;
        width: 100px;
        text-align: right;
        height: 18px;
        margin-bottom: -18px;
        display: none;
    }

    .uploader-list .handle i {
        margin-right: 5px;
    }

    .uploader-list .handle i:hover {
        cursor: pointer;
    }

</style>
<div class="admin-main layui-anim layui-anim-upbit" ng-app="hd" ng-controller="ctrl">
    <form class="layui-form layui-form-pane">


        <div class="layui-form-item">
            <label class="layui-form-label">所属活动类型</label>
            <div class="layui-input-8">
                <select name="serve_type_id" lay-filter="serve_type_id" lay-verify="required" xm-select="serve_type_id"
                        xm-select-search="">
                    <option value="">请选择所属活动</option>
                    {foreach $serve_type_id_array as $key=>$val }
                    <option value="{$val.id}"> {$val.title}</option>
                    {/foreach}
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux required">*</div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline layui-col-md5">
                <label class="layui-form-label">活动类别</label>
                <div class="layui-input-7">
                    <select name="serve_category_id" lay-filter="serve_category_id" lay-verify="required" xm-select="serve_category_id" xm-select-search="" xm-select-max="1">
                        <option value="">请选择活动类别</option>
                        {foreach $serve_category_id_array as $key=>$val }
                        <option value="{$val.id}"> {$val.title}</option>
                        {/foreach}
                    </select>
                </div>
                <div class="layui-form-mid layui-word-aux required">*</div>
            </div>
            <div class="layui-inline layui-col-md5">
                <label class="layui-form-label"> 活动标题 </label>
                <div class="layui-input-7">
                    <input type="text" name="title" ng-model="field.title" lay-verify="required" class="layui-input" autocomplete="off">
                </div>
                <div class="layui-form-mid layui-word-aux required">*</div>
            </div>

        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">主办方</label>
            <div class="layui-input-8">
                <select name="organize_id" lay-filter="organize_id" lay-verify="required" xm-select="organize_id" xm-select-search="" xm-select-max="1">
                    <option value="">请选择所属活动</option>
                    {foreach $organize as $key=>$val }
                    <option value="{$val.id}"> {$val.name}</option>
                    {/foreach}
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux required">*</div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline layui-col-md5">
                <label class="layui-form-label">开始时间</label>
                <div class="layui-input-7">
                    <input type="text" id="begin_time" lay-verify="required" autocomplete="off" name="begin_time"
                           value="{{d.begin_time}}" placeholder="" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux required">*</div>
            </div>
            <div class="layui-inline layui-col-md5">
                <label class="layui-form-label">结束时间</label>
                <div class="layui-input-7">
                    <input type="text" id="end_time" lay-verify="required" autocomplete="off" name="end_time"
                           value="{{d.end_time}}" placeholder="" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux required">*</div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline layui-col-md5">
                <label class="layui-form-label">价格</label>
                <div class="layui-input-2">
                    <input type="text" name="price" class="layui-input">
                </div>
                <div class="layui-input-3">
                    <select name="currency" lay-filter="currency" id="currency">
                        <option value="">请选择货币</option>
                        <option value="¥">¥</option>
                        <option value="$">$</option>
                        <option value="€">€</option>
                    </select>
                </div>
            </div>

            <div class="layui-inline layui-col-md3">
                <label class="layui-form-label"> 排序 </label>
                <div class="layui-input-5">
                    <input type="text" name="sort" ng-model="field.sort" class="layui-input" placeholder="默认值0" autocomplete="off">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline layui-col-md3">
                <label class="layui-form-label"> 浏览量 </label>
                <div class="layui-input-5">
                    <input type="text" name="see_num" ng-model="field.see_num" class="layui-input" placeholder="默认值0"
                           autocomplete="off" readonly="readonly">
                </div>
            </div>
            <div class="layui-inline layui-col-md3">
                <label class="layui-form-label"> 收藏量 </label>
                <div class="layui-input-5">
                    <input type="text" name="cang_num" ng-model="field.cang_num" class="layui-input" placeholder="默认值0" autocomplete="off" readonly="readonly">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">举办地址</label>
            <div class="layui-input-12">
                <div class="layui-input-1">
                    <select name="country" lay-filter="required" id="country">
                        <option value="">国家类型</option>
                        <option value="1"> 国内</option>
                        <option value="2"> 国外</option>
                    </select>
                </div>
                <div class="layui-input-2">
                    <select name="city" lay-filter="city" id="city" xm-select="city" xm-select-max="1"
                            xm-select-search="">
                        <option value="">举办城市或国家</option>
                        {foreach $city_arr as $key=>$val }
                        <option value="{$val.id}"> {$val.city}</option>
                        {/foreach}
                    </select>
                </div>
                <div class="layui-input-3">
                    <input type="text" name="address" ng-model="field.address" class="layui-input" placeholder="详细地址"
                           autocomplete="off">
                </div>
            </div>
            <div class="layui-form-mid layui-word-aux required">线上活动该项不需要填写</div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"> 网址 </label>
            <div class="layui-input-8">
                <input type="text" name="url" ng-model="field.url" class="layui-input" placeholder="请输入网址" autocomplete="off">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"> 组织信息 </label>
            <div class="layui-input-8">
                <textarea name="organ_infor" placeholder="请输入组织信息" class="layui-textarea" maxlength="500"></textarea>
            </div>
        </div>


        <div class="layui-form-item">
            <div class="layui-inline layui-col-md3 uploader-list">

                <label class="layui-form-label">活动图片</label>
                <input type="hidden" class="pic" name="pic">
                <div class="layui-input-block">
                    <div class="layui-upload">
                        <button type="button" class="layui-btn layui-btn-primary uploadImg"><i
                                class="icon icon-upload3"></i>点击上传
                        </button>
                        <div class="layui-upload-list">

                        </div>
                        <p class="demoText"></p>
                    </div>
                </div>
            </div>

            <div class="layui-inline layui-col-md3 uploader-list">
                <label class="layui-form-label">分享图片</label>
                <input type="hidden" class="pic" name="share_img">
                <div class="layui-input-block">
                    <div class="layui-upload">
                        <button type="button" class="layui-btn layui-btn-primary uploadImg"><i
                                class="icon icon-upload3"></i>点击上传
                        </button>
                        <div class="layui-upload-list">

                        </div>
                        <p class="demoText"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"> 免责说明 </label>
            <div class="layui-input-4">
                <input type="text" name="instructions" value="活动内容最终解释权归主办方所有" placeholder="活动内容最终解释权归主办方所有" class="layui-input" autocomplete="off">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline layui-col-md3">

                <label class="layui-form-label">是否显示</label>
                <div class="layui-input-5">
                    <input type="radio" name="status" ng-value="2" title="否">
                    <input type="radio" name="status" checked ng-value="1" title="是">
                </div>
            </div>

            <div class="layui-inline layui-col-md3">
                <label class="layui-form-label">是否推荐到首页</label>
                <div class="layui-input-5">
                    <input type="radio" name="is_hot" checked ng-value="2" title="否">
                    <input type="radio" name="is_hot" ng-value="1" title="是">
                </div>
            </div>

            <div class="layui-inline layui-col-md3">

                <label class="layui-form-label">举办方式</label>
                <div class="layui-input-5">
                    <input type="radio" name="hold_mode" checked ng-value="2" title="线下">
                    <input type="radio" name="hold_mode" ng-value="1" title="线上">
                </div>
            </div>
        </div>



        <div class="layui-form-item">
            <label class="layui-form-label">活动内容</label>
            <div class="controls layui-input-4">
                <textarea class="layui-textarea" style=" width: 100%; display: none; "></textarea>
                <script id="content" name="content" type="text/plain"></script>
            </div>
        </div>


        <!-- <div class="layui-form-item">
            <label class="layui-form-label"> 举办方 </label>
            <div class="layui-input-4">
                <input type="text" name="organizer" ng-model="field.organizer" lay-verify="required"  class="layui-input">
            </div>
        </div> -->


        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="submit">{:lang('submit')}</button>
                <!-- <a href="{:url('index')}" class="layui-btn layui-btn-primary">{:lang('back')}</a> -->
            </div>
        </div>
    </form>
</div>
{include file="common/foot"/}

  <link href="/static/common/css/formSelects-v4.css" rel="stylesheet" />

<script src="/static/common/js/angular.min.js"></script>
<script>
    
   layui.config({
        base: '/static/common/js/' //此处路径请自行处理, 可以使用绝对路径
    }).extend({
        formSelects: 'formSelects-v4'
    });

    
  
  UE.getEditor('content',{
        initialFrameWidth : 600,
        initialFrameHeight: 450,
        toolbars: [['source', '|', 'undo', 'redo', '|',
            'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc', '|',
            'rowspacingtop', 'rowspacingbottom', 'lineheight', '|',
            'customstyle', 'paragraph', 'fontfamily', 'fontsize', '|',
            'directionalityltr', 'directionalityrtl', 'indent', '|',
            'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|', 'touppercase', 'tolowercase', '|',
            'link', 'unlink', 'anchor', '|', 'imagenone', 'imageleft', 'imageright', 'imagecenter', '|',
            'simpleupload', 'insertimage', 'emotion', 'scrawl', 'insertvideo', 'music', 'attachment', 'map', 'gmap', 'insertframe', 'insertcode', 'webapp', 'pagebreak', 'template', 'background', '|',
            'horizontal', 'date', 'time', 'spechars', 'snapscreen', 'wordimage', '|',
            'inserttable', 'deletetable', 'insertparagraphbeforetable', 'insertrow', 'deleterow', 'insertcol', 'deletecol', 'mergecells', 'mergeright', 'mergedown', 'splittocells', 'splittorows', 'splittocols', 'charts', '|',
            'print', 'preview', 'searchreplace', 'drafts', 'help']]
     });

    var m = angular.module('hd',[]);

   $(document).on("mouseenter mouseleave", ".file-iteme", function(event){
       if(event.type === "mouseenter"){
           //鼠标悬浮
           $(this).children(".info").fadeIn("fast");
           $(this).children(".handle").fadeIn("fast");
       }else if(event.type === "mouseleave") {
           //鼠标离开
           $(this).children(".info").hide();
           $(this).children(".handle").hide();
       }
   });

   // 删除图片
   $(document).on("click", ".file-iteme .handle", function(event){
       $(this).parents(".uploader-list").find("input[type=hidden]").val('')
       $(this).parent().remove();
   });
    
    m.controller('ctrl',function($scope) {
        layui.use(['form','upload', 'layer','layedit','formSelects'], function () {
             var form = layui.form, layer = layui.layer,$= layui.jquery,upload = layui.upload,layedit = layui.layedit;
             
              
             var formSelects = layui.formSelects;
             formSelects.btns('city', []);
            

            form.on('submit(submit)', function (data) {

                // 验证网址格式是否正确
                var reg=/(^#)|(^http(s*):\/\/[^\s]+\.[^\s]+)/;

                if( !reg.test(data.field.url) && data.field.url ){
                     layer.msg('网址格式错误，请输入以http://或https://开头的完整url！',{icon: 5});
                     return false;
                }

                // 提交到方法 默认为本身
                var loading = layer.load(1, {shade: [0.1, '#fff']});
                
                 //获取编辑器的内容

                $.post("", data.field, function (res) {

                    
                    if (res.code > 0) {
                        layer.msg(res.msg, {time: 1800, icon: 1}, function () {
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.location.reload();
                            parent.layer.close(index); //再执行关闭  
                        });
                    } else {
                        layer.msg(res.msg, {time: 1800, icon: 2});
                    }
                });
            })

            
    var uploadInst = upload.render({ 
            elem: ".uploadImg" ,
            url: "{:url('UpFiles/upload')}" ,
            before: function(obj){
              var _this = this;
              obj.preview(function(index, file, result){
                   _this.item.parents(".uploader-list").find('.layui-upload-list').html(
                       '<div id="" class="file-iteme">' +
                       '<div class="handle"><i class="layui-icon layui-icon-delete"></i></div>' +
                       '<img style="width: 100px;height: 100px;" src='+ result +'>' +
                       '</div>'
                   );
              });  
            },
            done: function(res){ 
                if(res.code>0){
                  this.item.parents(".uploader-list").find("input[type=hidden]").val(res.url)
                }else{ 
                  return layer.msg("上传失败");
                } 
            } ,
              error: function(res){ 
                var demoText = this.item.parents(".uploader-list").find(".demoText");
                 demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');  
                 demoText.find(".demo-reload").on("click", function(){  
                  uploadInst.upload(); 
                });
              }
        });


            

        });
    });



    // 时间插件shi-jian-cha-jian
    
useLayDateMultiple('begin_time');

useLayDateMultiple('end_time');

    function useLayDateMultiple(cls) {
        layui.use('laydate', function() {
            var laydate = layui.laydate;
            lay('#' + cls).each(function() {
                laydate.render({
                    elem : this,
                    trigger : 'click',
                    type : 'datetime'
                });
            });
        });
    }
</script>
</body>
</html>