{include file="common/head"/}

  <script src="//unpkg.com/jquery@3.3.1/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/static/ueditor/ueditor.config.js"></script>
  <script type="text/javascript" src="/static/ueditor/ueditor.all.js"></script>
<style>
    .layui-text em, .layui-word-aux{
        color: red !important;
    }
</style>
<div class="admin-main layui-anim layui-anim-upbit" ng-app="hd" ng-controller="ctrl">
    <form class="layui-form layui-form-pane">

    <div class="layui-form-item">
        <label class="layui-form-label">所属活动类型</label>
        <div class="layui-input-4">
          <select name="serve_type_id"  lay-filter="serve_type_id"  lay-verify="required"  xm-select="serve_type_id"  xm-select-search="">
            <option value="">请选择活动类型</option>
            {foreach $serve_type_id_array as $key=>$val }
                <option value="{$val.id}" {in name="$val['id']" value="$info_array['serve_type_id']"} selected {/in} > {$val.title} </option>
            {/foreach}
        </select>
      </div>
      <div class="layui-form-mid layui-word-aux required">*</div>
    </div>

        <div class="layui-form-item">
            <label class="layui-form-label">活动类别</label>
            <div class="layui-input-4">
                <select name="serve_category_id" lay-filter="serve_category_id" lay-verify="required"
                        xm-select="serve_category_id" xm-select-search="" xm-select-max="1">
                    <option value="">请选择活动类别</option>
                    {foreach $serve_category_id_array as $key=>$val }
                    <option value="{$val.id}" {in name="$val['id']" value="$info_array['serve_category_id']" } selected {/in} > {$val.title} </option>
                    {/foreach}
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux required">*</div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">主办方</label>
            <div class="layui-input-4">
                <select name="organize_id" lay-filter="organize_id" lay-verify="required" xm-select="organize_id" xm-select-search="" xm-select-max="1">
                    <option value="">请选择所属活动</option>
                    {foreach $organize as $key=>$val }
                    <option  {if $info_array['organize_id'] == $val.id}selected{/if}  value="{$val.id}"> {$val.name}</option>
                    {/foreach}
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux required">*</div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"> 活动标题 </label>
            <div class="layui-input-4">
                <input type="text" name="title" ng-model="field.title" lay-verify="required" class="layui-input"
                       autocomplete="off">
            </div>
            <div class="layui-form-mid layui-word-aux required">*</div>
        </div>

        <div class="layui-form-item fieldName">
            <label class="layui-form-label">活动图片</label>
            <input type="hidden" class="pic" name="pic">
            <div class="layui-input-block">
                <div class="layui-upload">
                    <button type="button" class="layui-btn layui-btn-primary uploadImg"><i
                            class="icon icon-upload3"></i>点击上传
                    </button>
                    <div class="layui-upload-list">
                        <img class="layui-upload-img" id="pic">
                        <p class="demoText"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-form-item fieldName">
            <label class="layui-form-label">活动分享图片</label>
            <input type="hidden" class="pic" name="share_img">
            <div class="layui-input-block">
                <div class="layui-upload">
                    <button type="button" class="layui-btn layui-btn-primary uploadImg"><i
                            class="icon icon-upload3"></i>点击上传
                    </button>
                    <div class="layui-upload-list">
                        <img class="layui-upload-img" id="share_img">
                        <p class="demoText"></p>
                    </div>
                </div>
            </div>
        </div>

<div class="layui-form-item">
  <label class="layui-form-label">开始时间</label>
  <div class="layui-input-inline">
    <input type="text" id="begin_time" lay-verify="required" autocomplete="off" name="begin_time" value="{$begin_time}"  placeholder="" class="layui-input">
  </div>
  <div class="layui-form-mid layui-word-aux required">*</div>
</div>

<div class="layui-form-item">
  <label class="layui-form-label">结束时间</label>
  <div class="layui-input-inline">
    <input type="text" id="end_time" lay-verify="required" autocomplete="off" name="end_time" value="{$end_time}"  placeholder="" class="layui-input">
  </div>
  <div class="layui-form-mid layui-word-aux required">*</div>
</div>

    <div class="layui-form-item">
        <label class="layui-form-label">价格</label>
        <div class="layui-input-4">
            <input type="text" name="price" ng-model="field.price" class="layui-input">
        </div>
        <div class="layui-input-2">
            <select name="currency" lay-filter="currency" id="currency">
                <option value="">请选择货币</option>
                <option {if $info_array['currency'] == '¥'}selected{/if} value="¥">¥</option>
                <option {if $info_array['currency'] == '$'}selected{/if} value="$">$</option>
                <option {if $info_array['currency'] == '€'}selected{/if} value="€">€</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"> 浏览量 </label>
        <div class="layui-input-4">
            <input type="text" name="see_num" ng-model="field.see_num" class="layui-input" autocomplete="off" readonly="readonly">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"> 收藏量 </label>
        <div class="layui-input-4">
            <input type="text" name="cang_num" ng-model="field.cang_num" class="layui-input" autocomplete="off" readonly="readonly">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"> 想参加人数 </label>
        <div class="layui-input-4">
            <input type="text" name="join_num" ng-model="field.join_num" class="layui-input" autocomplete="off" readonly="readonly">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"> 排序 </label>
        <div class="layui-input-4">
            <input type="text" name="sort" ng-model="field.sort" class="layui-input" autocomplete="off">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">举办地址</label>
        <div class="layui-input-12">
            <div class="layui-input-2">
                <select name="city"  lay-filter="city"  lay-verify=""  xm-select="city"  xm-select-search="" xm-select-max="1">
                    <option value="">请选择举办城市</option>
                    {foreach $city_arr as $key=>$val }
                        <option value="{$val.id}" {in name="$val['id']" value="$info_array['city']"} selected {/in} > {$val.city} </option>
                    {/foreach}
                </select>
            </div>
            <div class="layui-input-4">
                <input type="text" name="address" ng-model="field.address" class="layui-input"  placeholder="详细地址" autocomplete="off">
            </div>
        </div>
        <div class="layui-form-mid layui-word-aux required">线上活动该项不需要填写</div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"> 网址 </label>
        <div class="layui-input-4">
            <input type="text" name="url" ng-model="field.url" class="layui-input" autocomplete="off">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"> 组织信息 </label>
        <div class="layui-input-4">
          <textarea name="organ_infor" placeholder="请输入组织信息" class="layui-textarea" maxlength="500">{$info_array['organ_infor']}</textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">是否显示</label>
        <div class="layui-input-4">
            <input type="radio" name="status" ng-model="field.status" ng-checked="field.status==2" ng-value="2" title="否">
            <input type="radio" name="status" ng-model="field.status" ng-checked="field.status==1" ng-value="1" title="是">
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label"> 免责说明 </label>
        <div class="layui-input-4">
            <input type="text" name="instructions" ng-model="field.instructions" lay-verify="required" class="layui-input" autocomplete="off">
        </div>
    </div>



    <div class="layui-form-item">
        <label class="layui-form-label">举办方式</label>
        <div class="layui-input-4">
            <input type="radio" name="hold_mode" ng-model="field.hold_mode" ng-checked="field.hold_mode==2" ng-value="2" title="线下">
            <input type="radio" name="hold_mode" ng-model="field.hold_mode" ng-checked="field.hold_mode==1" ng-value="1" title="线上">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">是否推荐到首页</label>
        <div class="layui-input-4">
            <input type="radio" name="is_hot" ng-model="field.is_hot" ng-checked="field.is_hot==2" ng-value="2" title="否">
            <input type="radio" name="is_hot" ng-model="field.is_hot" ng-checked="field.is_hot==1" ng-value="1" title="是">
        </div>
    </div>

     <div class="layui-form-item">
            <label class="layui-form-label">活动内容</label>
            <div class="controls layui-input-4" >
                <textarea class="layui-textarea"  style=" width: 100%; display: none; "></textarea>
                <script id="content" name="content" type="text/plain"><?=$content?></script>
            </div>
        </div>

    <!-- <div class="layui-form-item">
        <label class="layui-form-label"> 举办方 </label>
        <div class="layui-input-4">
            <input type="text" name="organizer" ng-model="field.organizer" lay-verify="required"  class="layui-input">
        </div>
    </div> -->





        <div class="layui-form-item">
            <div class="layui-input-block">
                <!-- <input type="hidden" name="page" value="{$page}" id='page'> -->
                <button type="button" class="layui-btn" lay-submit="" lay-filter="submit">{:lang('submit')}</button>
                <!-- <a href="{:url('index')}" class="layui-btn layui-btn-primary">{:lang('back')}</a> -->
            </div>
        </div>
    </form>
</div>
{include file="common/foot"/}

  <link href="/static/common/css/formSelects-v4.css" rel="stylesheet" />


<script src="/static/common/js/angular.min.js"></script>
<script>


  UE.getEditor('content',{
        initialFrameWidth : 600,
        initialFrameHeight: 450,
        toolbars: [['source', '|', 'undo', 'redo', '|',
            'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc', '|',
            'rowspacingtop', 'rowspacingbottom', 'lineheight', '|',
            'customstyle', 'paragraph', 'fontfamily', 'fontsize', '|',
            'directionalityltr', 'directionalityrtl', 'indent', '|',
            'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|', 'touppercase', 'tolowercase', '|',
            'link', 'unlink', 'anchor', '|', 'imagenone', 'imageleft', 'imageright', 'imagecenter', '|',
            'simpleupload', 'insertimage', 'emotion', 'scrawl', 'insertvideo', 'music', 'attachment', 'map', 'gmap', 'insertframe', 'insertcode', 'webapp', 'pagebreak', 'template', 'background', '|',
            'horizontal', 'date', 'time', 'spechars', 'snapscreen', 'wordimage', '|',
            'inserttable', 'deletetable', 'insertparagraphbeforetable', 'insertrow', 'deleterow', 'insertcol', 'deletecol', 'mergecells', 'mergeright', 'mergedown', 'splittocells', 'splittorows', 'splittocols', 'charts', '|',
            'print', 'preview', 'searchreplace', 'drafts', 'help']]
     });


   layui.config({
        base: '/static/common/js/' //此处路径请自行处理, 可以使用绝对路径
    }).extend({
        formSelects: 'formSelects-v4'
    });


    var m = angular.module('hd',[]);
    m.controller('ctrl',function($scope) {
        $scope.field = {$info|raw};
        layui.use(['form','upload', 'layer','layedit','formSelects'], function () {
            var form = layui.form, layer = layui.layer,$= layui.jquery,upload = layui.upload,layedit = layui.layedit;


            var info = {$info|raw}; form.val("form", info);  if(info){ $("#pic").attr("src",info.pic); }
            var info = {$info|raw}; form.val("form", info);  if(info){ $(".pic").attr("value",info.pic); }

            var info = {$info|raw}; form.val("form", info);  if(info){ $("#share_img").attr("src",info.share_img); }
            var info = {$info|raw}; form.val("form", info);  if(info){ $(".share_img").attr("value",info.share_img); }

              var formSelects = layui.formSelects;


            form.on('submit(submit)', function (data) {

                // 验证网址格式是否正确
                var reg=/(^#)|(^http(s*):\/\/[^\s]+\.[^\s]+)/;
                if( !reg.test(data.field.url) && data.field.url ){
                     layer.msg('网址格式错误，请输入以http://或https://开头的完整url！',{icon: 5});
                     return false;
                }

                // 提交到方法 默认为本身
                var loading = layer.load(1, {shade: [0.1, '#fff']});
                data.field.id = $scope.field.id;
                 //获取编辑器的内容
                $.post("", data.field, function (res) {
                    layer.close(loading);
                    if (res.code > 0) {
                        // sessionStorage.setItem("changeData", JSON.stringify(data.field));
                        layer.msg(res.msg, {time: 1800, icon: 1}, function () {
                            var index = parent.layer.getFrameIndex(window.name);
							parent.location.reload();
                            parent.layer.close(index); //再执行关闭  
                            // var page = $('#page').val();//获取分页值
                            // location.href = res.url + '?page=1';  
                        });
                    } else {
                        layer.msg(res.msg, {time: 1800, icon: 2});
                    }
                });
            })



    var uploadInst = upload.render({
            elem: ".uploadImg" ,
            url: "{:url("UpFiles/upload")}" ,
            before: function(obj){
              var _this = this;
              obj.preview(function(index, file, result){
                   _this.item.parents(".fieldName").find("img").attr("src",result)
              });
            },
            done: function(res){
                if(res.code>0){
                  this.item.parents(".fieldName").find("input[type=hidden]").val(res.url)
                }else{
                  return layer.msg("上传失败");
                }
            } ,
              error: function(res){
                var demoText = this.item.parents(".fieldName").find(".demoText");
                 demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                 demoText.find(".demo-reload").on("click", function(){
                  uploadInst.upload();
                });
              }
        });



        });
    });


    // 时间插件shi-jian-cha-jian

useLayDateMultiple('begin_time');

useLayDateMultiple('end_time');


    function useLayDateMultiple(cls) {
        layui.use('laydate', function() {
            var laydate = layui.laydate;
            lay('#' + cls).each(function() {
                laydate.render({
                    elem : this,
                    trigger : 'click',
                    type : 'datetime'
                });
            });
        });
    }
</script>
</body>
</html>