{include file="common/head"/}
 
  <script src="//unpkg.com/jquery@3.3.1/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/static/ueditor/ueditor.config.js"></script>
  <script type="text/javascript" src="/static/ueditor/ueditor.all.js"></script> 

  <script src="//unpkg.com/jquery@3.3.1/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/static/ueditor/ueditor.config.js"></script>
  <script type="text/javascript" src="/static/ueditor/ueditor.all.js"></script> 

  <script src="//unpkg.com/jquery@3.3.1/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/static/ueditor/ueditor.config.js"></script>
  <script type="text/javascript" src="/static/ueditor/ueditor.all.js"></script> 

<div class="admin-main layui-anim layui-anim-upbit" ng-app="hd" ng-controller="ctrl">
    
    <fieldset class="layui-elem-field layui-field-title">
        <legend>添加</legend>
    </fieldset>

    <form class="layui-form layui-form-pane">

        
    <div class="layui-form-item">
        <label class="layui-form-label"> 描述 </label>
        <div class="layui-input-4">
            <input type="text" name="title" ng-model="field.title" lay-verify="required"  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"> 描述 </label>
        <div class="layui-input-4">
            <input type="text" name="describe" ng-model="field.describe" lay-verify="required"  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"> 标签 </label>
        <div class="layui-input-4">
            <input type="text" name="label" ng-model="field.label" lay-verify="required"  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"> 申请阶段 </label>
        <div class="layui-input-4">
            <input type="text" name="apply_stage" ng-model="field.apply_stage" lay-verify="required"  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"> 学生名字 </label>
        <div class="layui-input-4">
            <input type="text" name="student_name" ng-model="field.student_name" lay-verify="required"  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"> 学校名字 </label>
        <div class="layui-input-4">
            <input type="text" name="school_name" ng-model="field.school_name" lay-verify="required"  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"> 考试成绩 </label>
        <div class="layui-input-4">
            <input type="text" name="score" ng-model="field.score" lay-verify="required"  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item fieldName">  
      <label class="layui-form-label">学校logo</label> 
      <input type="hidden" class="xx_logo"  name="xx_logo" >
      <div class="layui-input-block"> 
         <div class="layui-upload">
           <button type="button" class="layui-btn layui-btn-primary uploadImg" ><i class="icon icon-upload3"></i>点击上传</button> 
           <div class="layui-upload-list"> 
              <img class="layui-upload-img" id="xx_logo" >
                <p class="demoText" ></p> 
            </div>
         </div> 
      </div>
  </div>

    <div class="layui-form-item manyImg">
        <label class="layui-form-label">多图上传</label>
        <input type="hidden" name="xx_offer" value="" id="xx_offer">
        <button type="button" class="layui-btn  layui-btn-primary" id="xx_offertestList">
            <i class="icon icon-upload3"></i>点击上传简历图片</button>
        </button>
        <div class="layui-upload-list">
            <table class="layui-table" style="width: 50%;">
                <thead>
                    <tr>
                        <th>图像</th>
                        <th>状态</th>
                        <th>操作</th></tr>
                </thead>
                <tbody id="xx_offerdemoList"></tbody>
            </table>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"> 学校名字 </label>
        <div class="layui-input-4">
            <input type="text" name="xx_name" ng-model="field.xx_name" lay-verify="required"  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"> 所在专业 </label>
        <div class="layui-input-4">
            <input type="text" name="xx_major" ng-model="field.xx_major" lay-verify="required"  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"> 学位 </label>
        <div class="layui-input-4">
            <input type="text" name="xx_degree" ng-model="field.xx_degree" lay-verify="required"  class="layui-input">
        </div>
    </div>

     <div class="layui-form-item">
            <label class="layui-form-label">案例介绍</label>
            <div class="controls layui-input-4" >
                <textarea class="layui-textarea"  style=" width: 100%; display: none; "></textarea>
                <script id="case_introduction" name="case_introduction" type="text/plain"></script>
            </div>
        </div> 

    <div class="layui-form-item fieldName">  
      <label class="layui-form-label">学生头像</label> 
      <input type="hidden" class="head_img"  name="head_img" >
      <div class="layui-input-block"> 
         <div class="layui-upload">
           <button type="button" class="layui-btn layui-btn-primary uploadImg" ><i class="icon icon-upload3"></i>点击上传</button> 
           <div class="layui-upload-list"> 
              <img class="layui-upload-img" id="head_img" >
                <p class="demoText" ></p> 
            </div>
         </div> 
      </div>
  </div>

     <div class="layui-form-item">
            <label class="layui-form-label">案例介绍</label>
            <div class="controls layui-input-4" >
                <textarea class="layui-textarea"  style=" width: 100%; display: none; "></textarea>
                <script id="case_introduction" name="case_introduction" type="text/plain"></script>
            </div>
        </div> 

     <div class="layui-form-item">
            <label class="layui-form-label">实习经历</label>
            <div class="controls layui-input-4" >
                <textarea class="layui-textarea"  style=" width: 100%; display: none; "></textarea>
                <script id="experience" name="experience" type="text/plain"></script>
            </div>
        </div> 

    <div class="layui-form-item">
        <label class="layui-form-label"> 学生名字首字母 </label>
        <div class="layui-input-4">
            <input type="text" name="initials" ng-model="field.initials" lay-verify="required"  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"> 排序 </label>
        <div class="layui-input-4">
            <input type="text" name="sort" ng-model="field.sort" lay-verify="required"  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"> 点击量 </label>
        <div class="layui-input-4">
            <input type="text" name="reading_num" ng-model="field.reading_num" lay-verify="required"  class="layui-input">
        </div>
    </div>

     <div class="layui-form-item">
            <label class="layui-form-label">案例介绍</label>
            <div class="controls layui-input-4" >
                <textarea class="layui-textarea"  style=" width: 100%; display: none; "></textarea>
                <script id="case_introduction" name="case_introduction" type="text/plain"></script>
            </div>
        </div> 

     <div class="layui-form-item">
            <label class="layui-form-label">实习经历</label>
            <div class="controls layui-input-4" >
                <textarea class="layui-textarea"  style=" width: 100%; display: none; "></textarea>
                <script id="experience" name="experience" type="text/plain"></script>
            </div>
        </div> 

     <div class="layui-form-item">
            <label class="layui-form-label">案例简介</label>
            <div class="controls layui-input-4" >
                <textarea class="layui-textarea"  style=" width: 100%; display: none; "></textarea>
                <script id="case_introduction_small" name="case_introduction_small" type="text/plain"></script>
            </div>
        </div> 

    <div class="layui-form-item fieldName">  
      <label class="layui-form-label">头像</label> 
      <input type="hidden" class="small_head_img"  name="small_head_img" >
      <div class="layui-input-block"> 
         <div class="layui-upload">
           <button type="button" class="layui-btn layui-btn-primary uploadImg" ><i class="icon icon-upload3"></i>点击上传</button> 
           <div class="layui-upload-list"> 
              <img class="layui-upload-img" id="small_head_img" >
                <p class="demoText" ></p> 
            </div>
         </div> 
      </div>
  </div>

  <div class="layui-form-item"> 
    <label class="layui-form-label">导师</label> 
    <div class="layui-input-4">
      <select name="tutor_id"  lay-filter="tutor_id"  lay-verify="required"  xm-select="tutor_id"  xm-select-search="" > 
        <option  value="">请选择导师</option> 
        {foreach $tutor_id_array as $key=> $val} 
        <option value="{$key}" >{$val}</option>
        {/foreach} 
      </select> 
    </div>
  </div>

        
          

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="submit">{:lang('submit')}</button>
                <a href="{:url('index')}" class="layui-btn layui-btn-primary">{:lang('back')}</a>
            </div>
        </div>
    </form>
</div>
{include file="common/foot"/}

  <link href="/static/common/css/formSelects-v4.css" rel="stylesheet" />

<script src="/static/common/js/angular.min.js"></script>
<script>
    
   layui.config({
        base: '/static/common/js/' //此处路径请自行处理, 可以使用绝对路径
    }).extend({
        formSelects: 'formSelects-v4'
    });

    
  
  UE.getEditor('case_introduction',{
        initialFrameWidth : 1000,
        initialFrameHeight: 600
     });

  
  UE.getEditor('experience',{
        initialFrameWidth : 1000,
        initialFrameHeight: 600
     });

  
  UE.getEditor('case_introduction_small',{
        initialFrameWidth : 1000,
        initialFrameHeight: 600
     });

    var m = angular.module('hd',[]);
    var multiple_images = [];
    m.controller('ctrl',function($scope) {
        layui.use(['form','upload', 'layer','layedit','formSelects'], function () {
             var form = layui.form, layer = layui.layer,$= layui.jquery,upload = layui.upload,layedit = layui.layedit;
             
              
             var formSelects = layui.formSelects;
            

            form.on('submit(submit)', function (data) {
                // 提交到方法 默认为本身
                var loading = layer.load(1, {shade: [0.1, '#fff']});
                
                 //获取编辑器的内容

                $.post("", data.field, function (res) {
                    console.log(res);
                    layer.close(loading);
                    if (res.code > 0) {
                        layer.msg(res.msg, {time: 1800, icon: 1}, function () {
                            location.href = res.url;
                        });
                    } else {
                        layer.msg(res.msg, {time: 1800, icon: 2});
                    }
                });
            })

            
    var uploadInst = upload.render({ 
            elem: ".uploadImg" ,
            url: "{:url("UpFiles/upload")}" ,
            before: function(obj){
              var _this = this;
              obj.preview(function(index, file, result){
                   _this.item.parents(".fieldName").find("img").attr("src",result)
              });  
            },
            done: function(res){ 
                if(res.code>0){ 
                  this.item.parents(".fieldName").find("input[type=hidden]").val(res.url)
                }else{ 
                  return layer.msg("上传失败");
                } 
            } ,
              error: function(res){ 
                var demoText = this.item.parents(".fieldName").find(".demoText");
                 demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');  
                 demoText.find(".demo-reload").on("click", function(){  
                  uploadInst.upload(); 
                });
              }
        });


    var uploadInst = upload.render({ 
            elem: ".uploadImg" ,
            url: "{:url("UpFiles/upload")}" ,
            before: function(obj){
              var _this = this;
              obj.preview(function(index, file, result){
                   _this.item.parents(".fieldName").find("img").attr("src",result)
              });  
            },
            done: function(res){ 
                if(res.code>0){ 
                  this.item.parents(".fieldName").find("input[type=hidden]").val(res.url)
                }else{ 
                  return layer.msg("上传失败");
                } 
            } ,
              error: function(res){ 
                var demoText = this.item.parents(".fieldName").find(".demoText");
                 demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');  
                 demoText.find(".demo-reload").on("click", function(){  
                  uploadInst.upload(); 
                });
              }
        });


    var uploadInst = upload.render({ 
            elem: ".uploadImg" ,
            url: "{:url("UpFiles/upload")}" ,
            before: function(obj){
              var _this = this;
              obj.preview(function(index, file, result){
                   _this.item.parents(".fieldName").find("img").attr("src",result)
              });  
            },
            done: function(res){ 
                if(res.code>0){ 
                  this.item.parents(".fieldName").find("input[type=hidden]").val(res.url)
                }else{ 
                  return layer.msg("上传失败");
                } 
            } ,
              error: function(res){ 
                var demoText = this.item.parents(".fieldName").find(".demoText");
                 demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');  
                 demoText.find(".demo-reload").on("click", function(){  
                  uploadInst.upload(); 
                });
              }
        });


            
     //多文件列表示例
      var xx_offerdemoListView = $('#xx_offerdemoList')
          ,uploadListIns = upload.render({
            elem: '#xx_offertestList'
            ,url: '{:url("UpFiles/upload")}'
            ,accept: 'file'
            ,multiple: true
            ,choose: function(obj){   
              var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列 file.name
              //读取本地文件
              obj.preview(function(index, file, result){
                var tr = $(['<tr id="upload-'+ index +'">'
                  ,'<td><img src="'+result +'" ></td>'
                  ,'<td>上传中</td>'
                  ,'<td>'
                    ,'<button class="layui-btn layui-btn-xs demo-reload layui-hide">重传</button>'
                    ,'<button class="layui-btn layui-btn-xs layui-btn-danger demo-delete">删除</button>'
                  ,'</td>'
                ,'</tr>'].join(''));
                
                //单个重传
                tr.find('.demo-reload').on('click', function(){
                  obj.upload(index, file);
                });
                
                //删除
                tr.find('.demo-delete').on('click', function(){
                  delete files[index]; //删除对应的文件
                  tr.remove();
                   multiple_images.splice(result, 1);
                    //重新排序
                    multiple_images.sort();
                    $('#xx_offer').val(multiple_images);
                  uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
                });
                
                xx_offerdemoListView.append(tr);
              });
        }
        ,done: function(res, index, upload){
            console.log(res);
              if(res.code == 1){ //上传成功
                var tr = xx_offerdemoListView.find('tr#upload-'+ index)
                ,tds = tr.children();
                tds.eq(1).html('<span style="color: #5FB878;">上传成功</span>');
                 multiple_images.push(res.url);

                 console.log(multiple_images);
                $('#xx_offer').val(multiple_images);
                // tds.eq(3).html(''); //清空操作
                return delete this.files[index]; //删除文件队列已经上传成功的文件
              }
                this.error(index, upload);
            }
        ,error: function(index, upload){
              var tr = xx_offerdemoListView.find('tr#upload-'+ index)
              ,tds = tr.children();
              tds.eq(2).html('<span style="color: #FF5722;">上传失败</span>');
              tds.eq(3).find('.demo-reload').removeClass('layui-hide'); //显示重传
            }
          });


          



        });
    });



    // 时间插件shi-jian-cha-jian
    
    function useLayDateMultiple(cls) {
        layui.use('laydate', function() {
            var laydate = layui.laydate;
            lay('#' + cls).each(function() {
                laydate.render({
                    elem : this,
                    trigger : 'click'
                });
            });
        });
    }
</script>
</body>
</html>